{%- import 'flags.j2' as flags with context -%}
# import

{% include 'import/import.j2' %}


# subroutines

{% include 'subroutines/subroutines.j2' %}


# variables

{% include 'variables/variables.j2' %}


# main

{% include 'main/main.j2' %}


# end