# j2-temp #
in_postprocessing = {{ config.app_test.processing.postprocessing.in_postprocessing.strip() }}
out_postprocessings = {{ config.app_test.processing.postprocessing.out_postprocessing.strip() }}
# j2-temp #