# j2-temp #
{%- if flags.out.uri__exists %}{% include 'variables/variables.out.uri.j2' %}{%- endif %}
{%- if flags.out.cdr__exists %}{% include 'variables/variables.out.cdr.j2' %}{%- endif %}
{%- if flags.out.har__exists %}{% include 'variables/variables.out.har.j2' %}{%- endif %}
{%- if flags.out.geo_csv__exists %}{% include 'variables/variables.out.geo_csv.j2' %}{%- endif %}
{%- if flags.out.s1ap_dump__exists %}{% include 'variables/variables.out.s1ap_dump.j2' %}{%- endif %}
# j2-temp #