# j2-temp #
runtime_config__specific_file = {
{%- for item in config.app_test.app_config.runtime_config.specific_file %}
    '{{ item }}': [{{ config.app_test.app_config.runtime_config.specific_file[item] }}]
    {{- "," if not loop.last }}
{%- endfor %}
}
# j2-temp #