# j2-temp #
{%- if config.app_test.processing.test_files_to_skip | length > 8 -%}
test_files_to_skip = [{{"\n"}}
{%- for item in config.app_test.processing.test_files_to_skip -%}
    {{- "\t" if loop.first }}'{{ item }}'{{- ", " if not loop.last }}
    {%- if loop.index % 4 == 0 and not loop.last %}{{ "\n\t" }}{%- endif %}
{%- endfor -%}
{{"\n"}}]
{%- else %}
test_files_to_skip = [
{%- for item in config.app_test.processing.test_files_to_skip %}
    '{{ item }}'
    {{- "," if not loop.last }}
{%- endfor %}
]
{%- endif %}
# j2-temp #