# j2-temp #
post_commands__specific_file = {
{%- for item in config.app_test.app_config.post_commands.specific_file %}
    '{{ item }}': [{{ config.app_test.app_config.post_commands.specific_file[item] }}]
    {{- "," if not loop.last }}
{%- endfor %}
}
# j2-temp #