# j2-temp #
in_preprocessing = {%- raw %} {{%- endraw %}{{ config.app_test.processing.preprocessing.in_preprocessing.strip() }}{%- raw %}}{%- endraw %}
out_preprocessing = {%- raw %} {{%- endraw %}{{ config.app_test.processing.preprocessing.out_preprocessing.strip() }}{%- raw %}}{%- endraw %}
# j2-temp #