# j2-temp #
{%- if config.app_test.processing.missing_test_files | length > 8 -%}
missing_test_files = [{{"\n"}}
{%- for item in config.app_test.processing.missing_test_files -%}
    {{- "\t" if loop.first }}'{{ item }}'{{- ", " if not loop.last }}
    {%- if loop.index % 4 == 0 and not loop.last %}{{ "\n\t" }}{%- endif %}
{%- endfor -%}
{{"\n"}}]
{%- else %}
missing_test_files = [
{%- for item in config.app_test.processing.missing_test_files %}
    '{{ item }}'
    {{- "," if not loop.last }}
{%- endfor %}
]
{%- endif %}
# j2-temp #