# j2-temp #
in_preprocessing = {{ config.app_test.processing.preprocessing.in_preprocessing.strip() }}
out_preprocessing = {{ config.app_test.processing.preprocessing.out_preprocessing.strip() }}
# j2-temp #