# j2-temp #
{% include 'variables/variables.init.j2' %}

{% include 'variables/variables.options.j2' %}

{%- if flags.app__platforms.utilities_exists %}{{"\n\n"}}{% include 'variables/variables.utilities.j2' %}{%- endif %}

{%- if flags.in.exists %}{{"\n\n"}}{% include 'variables/variables.in.j2' %}{%- endif %}

{%- if flags.out.exists %}{{"\n\n"}}{% include 'variables/variables.out.j2' %}{%- endif %}

{%- if flags.app_test__processing.test_files_to_skip %}{{"\n\n"}}{% include 'variables/variables.test_files_to_skip.j2' %}{%- endif %}

{%- if flags.app_test__app_config__ini_config.specific_file %}{{"\n\n"}}{% include 'variables/variables.ini_config__specific_file.j2' %}{%- endif %}

{%- if flags.app_test__app_config__runtime_config.specific_file %}{{"\n\n"}}{% include 'variables/variables.runtime_config__specific_file.j2' %}{%- endif %}
# j2-temp #