# j2-temp #
if args.clean:
    clean()

if not report_path.exists():
    report_path.mkdir(parents=True, exist_ok=True)
logger = Logger(name=program_path.stem, level=report_level, file=report_path)

if args.remove:
    remove()
# j2-temp #