# j2-temp #
in_path, in_suffix = pathlib.Path.joinpath(program_path.parent, '_in').resolve(), 'sga'

initialize_ini()
{%- block pre_initialize_app %}{%- endblock %}
for test_file_in in in_path.iterdir():
    if test_file_in.is_file():
        if test_file_in.suffix != '.' + in_suffix:
            logger.debug('  SKIPPED: {} - suffix does not match'.format(test_file_in.name))
            continue
        if test_file_in.stat().st_size == 0:
            logger.debug('  SKIPPED: {} - size is 0'.format(test_file_in.name))
            continue
        {%- if flags.test_files_to_skip %}
        if test_file_in.name in test_files_to_skip:
            logger.debug('  SKIPPED: {} - exists in test_files_to_skip'.format(test_file_in.name))
            continue
        {%- endif %}
        {%- if flags.preprocessing %}
        preprocessing()
        {%- endif %}
        {%- block inter_initialize_app %}{%- endblock %}
        {%- if flags.file_runtime_config %}
        modified_runtime_config = set_up_runtime_config()
        {%- else %}
        if test_file_in.name in specific_file_runtime_config:
            modified_runtime_config = set_up_runtime_config()
        {%- endif %}
# j2-temp #

        print(test_file_in.name)

        {%- if flags.file_runtime_config %}
        restore_runtime_config(modified_runtime_config)
        {%- else %}
        if test_file_in.name in specific_file_runtime_config:
            restore_runtime_config(modified_runtime_config)
        {%- endif %}
# j2-temp #
        {%- block inter_stop_app %}{%- endblock %}
        {%- if flags.postprocessing %}
        postprocessing()
        {%- endif %}
{%- block post_stop_app %}{%- endblock %}
clean_ini()
# j2-temp #