# j2-temp #
{% extends 'main/main.processing.parent.j2' %}
        {%- block inter_initialize_app %}
        modified_ini_config = set_up_ini_config()
        initialize_app()
        {%- endblock %}
        {%- block inter_stop_app %}
        stop_app()
        restore_ini_config(modified_ini_config)
        {%- endblock %}