# j2-temp #
if not report_path.exists():
    report_path.mkdir(parents=True, exist_ok=True)

cterm = CtermInterface(cterm=cterm_path)
app = Control(cterm_interface=cterm, ip='127.0.0.1', port=app_port, app=app_path)
# j2-temp #