def initialize_ini():
    if app_ini_path.exists():
        app_ini_path.unlink()
    shutil.copy2(base_ini_path, app_ini_path)

    {%- if flags.app_test__app_config__ini_config.global %}

    # set ini config (global)
    ini = Ini(app_ini_path)
    {%- for item in config.app_test.app_config.ini_config.global %}
    ini.set_up_parameter({{ item }})
    {%- endfor %}
    ini.write_content_to_file()
    {%- endif %}