# j2-temp #
def set_up_ini_config():
    ini = Ini(app_ini_path)
    ans = list()

    def append_ans(ans_dict):
        ans_already_exists = False
        for item in ans:
            if ans_dict['section'] == item['section'] and ans_dict['parameter'] == item['parameter']:
                ans_already_exists = True
                break
        if not ans_already_exists:
            ans.append(ans_dict)

    {%- if flags.app_test__app_config__ini_config.file %}

    # set ini config (file)
    {%- for item in config.app_test.app_config.ini_config.file %}
    append_ans(ini.set_up_parameter({{ item }}))
    {%- endfor %}
    {%- endif %}
	
	{%- if flags.out.geo_csv__exists %}

    # set out_geo_csv
    append_ans(ini.set_up_parameter('S1APGeo', 'CsvName', input_file.stem + '.' + out_geo_csv['suffix']))
    append_ans(ini.set_up_parameter('S1APGeo', 'CsvDir', str(pathlib.Path.joinpath(program_path.parent, out_geo_csv['path']))))
    {%- endif %}

    {%- if flags.app_test__app_config__ini_config.specific_file %}

    # set ini config (specific_file)
    {%- if flags.app_test__app_config__ini_config.file %}
    if input_file.name in ini_config__specific_file:
        append_ans(ini.set_up_parameter(*ini_config__specific_file[input_file.name]))
    {%- else %}
    append_ans(ini.set_up_parameter(*ini_config__specific_file[input_file.name]))
    {%- endif %}
    {%- endif %}

    ini.write_content_to_file()

    return ans
# j2-temp #