# j2-temp #
def debug_out_cdr(src, dst):
    command = [
        str(resolve_path(bin_viewer_path, 'SgaCDRViewer-offline.exe')),
        '-l', str(resolve_path(report_path, 'SgaCDRViewer-offline.log')),
        '-u', 'sga', '-p', 'sga', '-r', 'testing',
        '-vr', 'normal', '-cr', '0', '-ct', 'ALL',
        '-o', 'txt',
        '-v', '1', '-d', '1',
        '-f', str(resolve_path(bin_viewer_path, 'cdrviewerOffline.CdrFilt')),
        '-out', str(dst),
        '-of', str(src)
    ]
    p = subprocess.Popen(command, stdin=subprocess.PIPE, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    p.communicate()
# j2-temp #