# j2-temp #
def initialize_app():
    app_pid = app.start(inifile = str(app_ini_path))
    logger.debug('   started app: {}, version: {}, build: {}, pid: {}'.format(app.send_command('app.name')['value'],
                                                                              app.send_command('app.version', 'v')['value'],
                                                                              app.send_command('app.version', 'b')['value'],
                                                                              app_pid))

    {%- if flags.app_test__app_config__runtime_config.global %}

    # set runtime config (global)
    {%- for item in config.app_test.app_config.runtime_config.global %}
    app.set_config({{ item }})
    {%- endfor %}
    {%- endif %}

    {%- if flags.app_test__app_config__pre_commands.global %}

    # send pre command (global)
    {%- for item in config.app_test.app_config.pre_commands.global %}
    app.send_command({{ item }})
    {%- endfor %}
    {%- endif %}
# j2-temp #