# j2-temp #
def clean():
    files = [
    {%- for item in uri_config.output %}
        {{ item.sub_clean }}
        {{- "," if not loop.last }}
    {%- endfor %}
    ]

    for file in files:
        if file.exists():
            file.unlink()
# j2-temp #