# j2-temp #
def preprocessing():
    {%- set lines = config.app_test.processing.preprocessing.code.split('\n') %}
    {%- for line in lines %}
    {%- if line != '' %}
    {{ line }}
    {%- endif %}
    {%- endfor %}
# j2-temp #