# j2-temp #
def parse_args():
    {%- if config.env.name == "" %}
    parser = argparse.ArgumentParser(description='{{ config.app.git_name }} func_test',
                                     formatter_class=argparse.ArgumentDefaultsHelpFormatter)
    {%- else %}
    parser = argparse.ArgumentParser(description='{{ config.app.git_name }} {{ config.env.name }} func_test',
                                     formatter_class=argparse.ArgumentDefaultsHelpFormatter)
    {%- endif %}

    parser.add_argument('-rl', '--report_level',
                        help='set report level',
                        choices=['VERBOSE', 'DEBUG', 'INFO', 'WARNING', 'ERROR', 'CRITICAL'],
                        default='INFO')
    parser.add_argument('-s', '--select',
                        help='select inputs by name using regular expression',
                        nargs='+',
                        default='All')

    parser.add_argument('-e', '--executable',
                        help='change executable name',
                        default='{%- for item in config.app.platforms %}{{ item.executable }}{{- " / " if not loop.last }}{%- endfor %}')
    parser.add_argument('-b', '--bin',
                        help='change relative bin path',
                        default='{{ config.app.dir }}')
    {%- if flags.out.cdr__exists %}
    parser.add_argument('-bv', '--bin_viewer',
                        help='change relative bin viewer path',
                        default='{{ config.app.viewer_dir }}')
    {%- endif %}

    {%- if flags.out.cdr__exists or flags.out.uri__debug %}

    parser.add_argument('--debug_out',
                        help='always create debug files of outputs',
                        action="store_true",
                        default=False)
    {%- endif %}

    {%- if flags.in.uri__main__searching or flags.in.uri__additional__searching %}

    parser.add_argument('--link_out',
                        help='process the found outputs instead of the found references',
                        action="store_true",
                        default=False)
    {%- endif %}

    group = parser.add_mutually_exclusive_group()
    group.add_argument('--clean',
                       help='delete reports and all outputs and exit',
                       action="store_true",
                       default=False)
    group.add_argument('--remove',
                       help='todo - not implemented: delete all or selected inputs, outputs and references and exit',
                       action="store_true",
                       default=False)
    group.add_argument('--replace',
                       help='todo - not implemented: replace all or selected references with previous outputs and exit',
                       action="store_true",
                       default=False)

    args = parser.parse_args()

    if args.select == 'All':
        args.select = None
    {%- if flags.app__platforms.cross_platform %}
    if args.executable == '{%- for item in config.app.platforms %}{{ item.executable }}{{- " / " if not loop.last }}{%- endfor %}':
        args.executable = None
    {%- endif %}

    return args
# j2-temp #